<img class="for_info_only half" title="juggler" src="{{MEDIA}}juggler.png" alt="juggler" style="max-height: 300px;float: left;"/>
<p>
    你得到了一个正数。
    你的函数应该计算数字的乘积，不包括任何零。
</p>

<p>
    比如说：给出的数字是123405。结果将是1*2*3*4*5=120（不要忘记排除零）。
</p>

<p>
   <strong>输入：</strong>一个正整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>数字的乘积是一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>它是如何被使用的：</strong>
    这个任务可以教你如何用简单的数据类型转换来解决一个问题。
</p>

<p>
    <strong>前提条件：</strong><br />
    <ul>
    <li>0 &lt; 数字 &lt;<sup>106</sup></li>
    </ul>
</p>
