<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    On vous donne un nombre positif.
    Votre fonction doit calculer le produit des chiffres en excluant les zéros.
</p>

<p>
    Par exemple, le nombre donné est 123405: Le nombre donné est 123405. Le résultat sera 1*2*3*4*5=120 (n'oubliez pas d'exclure les zéros).
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}digits-multi.png" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Entrée:</strong> Un positif {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> Le produit des chiffres comme un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>

<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Cette tâche peut vous apprendre à résoudre un problème avec une simple conversion de type de données.
</p>

<p>
    <strong>Condition préalable:</strong><br />
    <ul>
    <li>0 &lt; nombre &lt;<sup>106</sup></li>
    </ul>
</p>
