<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Sie erhalten eine positive Zahl.
    Ihre Funktion sollte das Produkt der Ziffern ohne Nullen berechnen.
</p>

<p>
    Ein Beispiel: Die angegebene Zahl ist 123405. Das Ergebnis wird 1*2*3*4*5=120 sein (vergessen Sie nicht, die Nullen auszuschließen).
</p>

<p>
   <strong>Eingabe:</strong> Eine positive ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Das Produkt der Ziffern als ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie es verwendet wird:</strong>
    Mit dieser Aufgabe können Sie lernen, wie Sie ein Problem mit einer einfachen Datentypkonvertierung lösen.
</p>

<p>
    <strong>Vorbedingung:</strong><br />
    <ul>
    <li>0 &lt; Zahl &lt;<sup>106</sup></li>
    </ul>
</p>
